{% extends 'base.html' %}

{% block title %}
教科書を読もう！
{% endblock %}

{% block body %}
<article>
    <p>1から10まで、ドイツ語学習でわからないことがあったらここからチェックしましょう！</p>
    <p>初学者の方にもわかりやすく制作してあります</p>
    <p><small>*作成中</small></p>
</article>
<section>
    <header>
        <h2>教材一覧</h2>
        <p>こちらから公開されている教材を閲覧できます</p>
    </header>

    <aside>
        <h3>第1課 - アルファベットと発音</h3>
        <p>第1回はドイツ語の基礎の基礎、アルファベットと発音から始まります！</p>
    </aside>
    <aside>
        <h3>第2課 - 文の構造</h3>
        <p>第2回は文の構造！英語と似てるとよく言われるドイツ語、実は文構造は結構違うんですよ！<sup>2023/12/24 一部修正</sup></p>
    </aside>
    <aside>
        <h3>第3課 - 動詞の変化</h3>
        <p>第3回は、ちょっと覚えることが多くて大変かも？でも、慣れたら簡単に思いのままに動詞を活用できるようになるから、頑張ってみよう</p>
    </aside>
    <a href="#" class="centralized-text transparent-button"><b>続きを読む…</b></a>
</section>

{% endblock %}