<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}トップページ{% endblock %}

{% block body %}
<article>
        <h2 class="centralized-text">
            機能紹介
        </h2>
        <p></p>
        <h4>文法書を読める</h4>
        <p>文法書を公開しています。誰でも読めて、ユーザ登録をしたらどこまで読んだか進捗を記録したり、付箋をはったりすることができます。各章ごとに練習問題もあるので、知識の定着のためぜひ活用してください。</p>

        <p></p>
        <h4>課題、自主学習の進捗管理</h4>
        <p>日記を書いて自分の学習内容を記録することができます。他のユーザに公開することもできます。</p>
        <hr>
</article>
<section>
        <h2>
            利用者の声
        </h2>
        <p></p>
        <h3 class="left-aligned-text">
            田中さん（仮名）
        </h3>
        <p>
            とても扱いやすいサービスだと思います！ドイツ語を初めて2年ですが、このたびGoetheのC1に合格することができました！
        </p>
        <hr>
</section>
<section>
    <a href="#" class="centralized-text"><b>始めてみる</b></a>
</section>

{% endblock %}